  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }

  * {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    /* color: t ransparent; */

  }
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background-color: white;
}
  .navbar_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:  31px 0 18px 0;

  }

  .navbar_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
  }

  .navbar_links a {
    color: black;
  }

  .navbar_links a:hover {
    color: #DC780B;
    border-bottom: 2px solid #DC780B;
    line-height: 24px;

  }

  .navbar_box button {
    width: 155px;
    padding: 15px 20px;
    border-radius: 5px;
    background: #DC780B;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: .2s linear;

  }

  .navbar_box  button:hover {
    background: #e8963f;

    
  }



  /*   F  O O T E R  */   

  .footer {
    background: #252525;
  }


.footer_box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 137px 0 104px 0;
  flex-wrap: wrap;

}

.Footer_img1 {
  width: 60px;
}

.footer_text p{
  color: white;
  margin-top: 17px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.41px;
  color: #cdcbcb;
}
.footer_text h3{
  color: white;
  /* margin-top: 17px; */
  
}

.footer_text_img {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
